<h2 mat-dialog-title>Formulario</h2>
<form [formGroup]="form" mat-dialog-content>
  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombre">
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email">
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Dirección</mat-label>
    <textarea matInput formControlName="direccion"></textarea>
  </mat-form-field>
</form>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-button color="primary" (click)="enviar()" [disabled]="form.invalid">Enviar</button>
</mat-dialog-actions>
